@media (max-width: 992px) {
  .benef__bottom-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .hero__content {
    padding-top: 130px;
    padding-bottom: 135px;
  }
  .hero__picture {
    margin-bottom: 45px;
  }
  .hero__title {
    font-size: 50px;
    margin-bottom: 17px;
  }
  .benef__container {
    padding-bottom: 72px;
  }
  .benef__bottom-image {
    margin-bottom: 12px;
  }
  .teacher {
    padding-bottom: 71px;
  }
  .teacher__item:nth-child(-n+2) {
    margin-bottom: 23px;
  }
  .teacher__text {
    font-weight: 300;
  }
  .course {
    padding-bottom: 51px;
  }
  .course__item-block {
    padding-top: 30px;
  }
  .course__item-title {
    margin-bottom: 9px;
  }
  .course__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .hero__picture {
    display: none;
  }
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 30px;
  }
  .hero__content {
    padding-top: 77px;
  }
  .hero__text {
    max-width: 345px;
  }
  .benef__container {
    padding-bottom: 51px;
  }
  .course__item-block {
    padding-top: 32px;
    min-height: 473px;
  }
  .course__item-title {
    line-height: 130%;
  }
  .course__btn {
    padding: 20.5px 48px;
  }
}

@media (max-width: 575px) {
  .benef__bottom-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .benef__picture {
    display: none;
  }
  .teacher__img {
    border-radius: 40px 40px 0 0;
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .title-reset {
    font-size: 20px;
    line-height: 120%;
  }
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: 80px;
  }
  .burger {
    display: inline-block;
    z-index: 10;
  }
  .nav {
    visibility: hidden;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2F2C45;
    z-index: 3;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .visible {
    visibility: visible;
    opacity: 1;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 76px 20px 105px 15px;
    row-gap: 56px;
  }
  .benef__container {
    padding-top: 53px;
    padding-bottom: 20px;
  }
  .benef__title {
    margin-bottom: 4px;
    font-size: 20px;
  }
  .benef__bottom-content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .benef__bottom-image {
    margin-bottom: 29px;
  }
  .hero__content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero__title {
    font-size: 30px;
    line-height: 100%;
    max-width: 226px;
    margin-bottom: 6px;
  }
  .hero__text {
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 130%;
  }
  .hero__btn {
    padding: 20.5px 53.5px;
    font-size: 16px;
    line-height: 19px;
  }
  .teacher {
    padding-top: 46px;
    padding-bottom: 46px;
  }
  .teacher__item:not(:last-child) {
    margin-bottom: 23px;
  }
  .teacher__img {
    margin-bottom: 32px;
  }
  .teacher__item-title {
    font-size: 18px;
    line-height: 150%;
  }
  .course {
    padding-top: 44px;
    padding-bottom: 21px;
  }
  .course__item-title {
    font-size: 18px;
    line-height: 130%;
  }
  .course__text {
    margin-bottom: 79px;
  }
  .course__btn {
    padding-left: 54px;
    padding-right: 54px;
  }
}
