/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Thin'), url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Light'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Medium'), url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Black'), url('../fonts/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
 ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-family: 'Roboto';
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture img {
  width: 100%;
}

:root {
  --color-blue: #3F2AFF;
  --color-grey: #E5E5E5;
  --color-medium-grey: #85859B;
  --color-light-grey: #EDF0F9;
  --color-dark-grey: #666666;
  --color-white: #FFF;
  --color-black: #212133;
  --color-dark-violet: #2E2B44;
}


/* Стили по умолчанию*/

.mb {
  margin-bottom: 80px;
}

.btn-reset {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.title-reset {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
}

.par-reset {
  margin: 0;
  padding: 0;
}

.btn-text {
  border: none;
  font-weight: 700;
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
}


/* header */

.header {
  background-color: var(--color-blue);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 56px;
}

.nav__link {
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
}


/* hero section */

.hero {
  background: -o-radial-gradient(67.78% 55.93%, 44.07% 44.07%, #555681 0%, #212133 100%);
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__content {
  padding-top: 131px;
  padding-bottom: 130px;
}

.hero__title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 60px;
  color: var(--color-white);
}

.hero__text {
  margin-bottom: 61px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
}

.hero__btn {
  padding: 24px 76px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.hero__picture {
  margin: 6px 0 0 0;
}


/* Benef section */

.benef {
  background-color: var(--color-grey);
}

.benef__container {
  padding-top: 80px;
  padding-bottom: 78px;
}

.benef__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 24px;
}

.benef__title {
  margin-bottom: 18px;
  max-width: 380px;
  color: var(--color-dark-violet);
}

.benef__text {
  max-width: 585px;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-dark-grey);
}

.benef__img {
  margin-top: 22px;
}

.benef__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.benef__bottom-image {
  margin-right: 30px;
}

.benef__bottom-text {
  max-width: 240px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-dark-grey);
}


/* teacher */

.teacher {
  padding-top: 74px;
  padding-bottom: 72px;
  background-color: var(--color-black);
}

.teacher__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-white);
}

.teacher__img {
  margin-bottom: 30px;
  border-radius: 22px 22px 0px 0px;
}

.teacher__item-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
}

.teacher__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-medium-grey);
}


/* course */

.course {
  padding-top: 74px;
  padding-bottom: 48px;
}

.course__title {
  margin-bottom: 26px;
  color: var(--color-black);
}

.course__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  border-radius: 0px 0px 20px 20px;
}

.course__item::after {
  position: absolute;
  right: 20px;
  top: 10px;
  line-height: 1.5;
  font-weight: 300;
  padding-left: 29px;
  background-image: url('../img/svg/course-time.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  color: #FFF;
}

.course__time-first::after {
  content: '60 часов'
}

.course__time-second::after {
  content: '40 часов'
}

.course__time-third::after {
  content: '40 часов'
}

.course__time-four::after {
  content: '80 часов'
}

.course__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 300px;
  padding: 30px;
  background-color: #edf0f9;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.course__item-title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-black);
}

.course__text {
  margin-bottom: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-dark-grey);
}

.course__btn {
  padding: 19px 59px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
  background-color: var(--color-blue);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}


/* footer */

.footer__top {
  background-color: var(--color-dark-violet);
}

.footer__container {
  padding-top: 28px;
  padding-bottom: 28px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 186px;
  margin: 0 auto;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0;
  margin-right: 30px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__bottom {
  background-color: var(--color-grey);
  text-align: center;
}

.footer__text {
  font-size: 13px;
  line-height: 15px;
  color: var(--color-dark-violet)
}

.footer__text-reg {
  color: var(--color-blue);
}


/* burger */

.burger {
  display: none;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.burger.is-active .burger__inner,
.burger.is-active .burger__inner::before,
.burger.is-active .burger__inner::after {
  background-color: var(--color-white);
}

.burger__block {
  width: 20.68px;
  height: 16.88px;
  display: inline-block;
  position: relative;
}

.burger__inner {
  display: block;
  top: 67%;
  margin-top: -2px;
}

.burger__inner,
.burger__inner::before,
.burger__inner::after {
  width: 20.68px;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.burger__inner::before,
.burger__inner::after {
  content: '';
  display: block;
}

.burger__inner::before {
  top: -8.44px;
}

.burger__inner::after {
  bottom: -8.44px;
}

.burger--squeeze .burger__inner {
  -webkit-transition-duration: 0.075s;
  -o-transition-duration: 0.075s;
  transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger--squeeze .burger__inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.burger--squeeze .burger__inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger--squeze.is-active .hamburger__inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.burger--squeeze.is-active .burger__inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.burger--squeeze.is-active .burger__inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.burger--squeeze.is-active .burger__inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
